body{
  height: 100%;
  width:100%;
  margin: 0;
  color: white;
  line-height: 1.2;
  font-family: "Gill Sans", sans-serif;
}
.fx{
  display: flex;
  flex-direction: row;
}
@media (max-width: 800px) {
  .fx {
    flex-direction: column;
  }
}
.fx2{
  flex: 2 2;
}
.mx40{
  margin: 0px 40px;
}
.px20{
  padding: 0px 20px;
}
.px40{
  padding: 0px 40px;
}
.actr{
  display: flex;
  align-items: center;
}
.jctr{
  display: flex;
  justify-content: center;
}
.jend{
  justify-content: flex-end;
}
.home{
  height: 100%;
  background: black;
  padding: 20px 40px;
}
.mediaIcon{
  img{
    width: 20px;
    height: 20px;
  }
}
