#root {
  position: relative;
  z-index: 1;
  height: 100%;

  // Add smooth fade-up animation to direct child elements
  > * {
    animation: fadeInUp 1s ease-out forwards;
  }
}

// Keyframes animation for fade-up effect
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  height: 100%;
  background: black;
  width: 100%;
  margin: 0;
  color: white;
  line-height: 1.2;
  font-family: "Gill Sans", sans-serif;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.flex {
  display: flex;
}
.flex2 {
  flex: 2 2;
}
.m10 {
  margin: 10px;
}
.mx40 {
  margin: 0px 40px;
}
.my20 {
  margin: 20px 0px;
}
.px20 {
  padding: 0px 20px;
}
.px40 {
  padding: 0px 40px;
}
.actr {
  display: flex;
  align-items: center;
}
.jctr {
  display: flex;
  justify-content: center;
}
.jend {
  justify-content: flex-end;
}

.home {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.mediaIcon {
  img {
    width: 20px;
    height: 20px;
  }
}

.center-page {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  align-content: center;
  justify-content: center;
}
