@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  height: 100%;
}

body{
  height: 100%;
  background: black;
  width:100%;
  margin: 0;
  color: white;
  line-height: 1.2;
  font-family: "Gill Sans", sans-serif;
}
.fx{
  display: flex;
}
.fx2{
  flex: 2 2;
}
.m10{
  margin: 10px
}
.mx40{
  margin: 0px 40px;
}
.my20{
  margin: 20px 0px;
}
.px20{
  padding: 0px 20px;
}
.px40{
  padding: 0px 40px;
}
.actr{
  display: flex;
  align-items: center;
}
.jctr{
  display: flex;
  justify-content: center;
}
.jend{
  justify-content: flex-end;
}
.home{
  height: 100%;
  padding: 20px 40px;
}
.mediaIcon{
  img{
    width: 20px;
    height: 20px;
  }
}
